.background{
    -fx-background-color: #3c3f41;
    -fx-color-label-visible: #ffffff;
    -fx-text-fill: #ffffff;
}

.secondary-color{
    -fx-background-color: #ffffff;
}

.secondary-elements{
    -fx-text-fill: #ffffff;
    -fx-background-color: #5f6467;
}

.secondary-elements:focused{
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-text-fill: #ffffff;
    -fx-background-color: #5f6467;
}

.user-button{
    -fx-border-color: #5f6467;
    -fx-text-fill: #ffffff;
    -fx-background-color: #5f6467;
}

.user-button:hover{
    -fx-border-color: #74777a;
    -fx-background-color: #74777a;
}

.switch {
    -fx-background-color: #3c3f41;
    -fx-opacity: 0.7;
}

.switch:hover {
    -fx-background-color: #3e3e41;
    -fx-background-radius: 20;
    -fx-opacity: 1.0;
}

.button-mask{
    -fx-opacity: 0.5;
    -fx-background-color: #5f6467;
}

.button-mask:hover{
    -fx-opacity: 1;
}